.menu-wrapper {
  $animSpeed: 80ms;

  ul {
    list-style-type: none;
    width: 100%;
  }

  .nav {
    text-align: center;
    width: 100%;

    &-list {
      display: inline-block;
    }

    &-menu {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      font-size: 1rem;

      &:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: #1E3C72;
        width: 0;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        //background: whitesmoke;
        border-radius: 4px 4px 0 0;

        &:after {
          width: 100%;
          transition: all 0.1s ease-in-out;
        }

        > .submenus li {
          display: block;
          color: black;
        }
      }

      div {
        padding: .5rem .8rem;
        position: relative;
        text-transform: uppercase;

        &:visited {
          color: black;
        }
      }

      .submenus {
        position: absolute;
        height: max-content;
        width: max-content;
        background: whitesmoke;
        z-index: 2;
        border-radius: 0 4px 4px 4px;

        li {
          display: none;
          position: relative;
          padding: .5rem .8rem;
          white-space: nowrap;
          text-align: left;

          &:first-child {
            padding-top: 1rem;
          }
        }
      }

      @for $i from 1 through 5 {
        &:hover > .submenus li:nth-child(#{$i}) {
          opacity: 0;
          animation: menuAnim ease-in-out forwards;
          animation-duration: $animSpeed;
          animation-delay: ($animSpeed / 2) * ($i - 1);
          @keyframes menuAnim {
            from {
              opacity: 0;
              transform: translateY(-1rem);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}
