<div class="pgm-wrapper">
  <div class="header-container">
    <p>Nascidos para multiplicar</p>
    <h1>Você já faz parte de um PGM?</h1>
  </div>

  <div class="pgm-content-container">
    <div class="logo">
      <img src="../../../../../assets/images/pgm-group.svg" alt="">
    </div>
    <div class="content">
      <p class="main">O Pequeno Grupo Multiplicador (PGM) é um ambiente facilitador, para apresentarmos Jesus às pessoas
        que desejam conhecê-lo.</p>
      <p class="complement">A IBP tem a missão de amar e ganhar pessoas para Cristo. Participe de um pequeno grupo. Viva
        essa experiência de casa em casa, de rua em rua, de bairro em bairro. Não ande sozinho, celebre e participe
        conosco dessa caminhada!</p>
      <button tuiButton>Encontrar um PGM</button>
    </div>
    <div class="individuals">
      individuals
    </div>
  </div>

</div>
