.menu-item-wrapper {
  $animSpeed: 50ms;

  ul {
    list-style-type: none;
    width: 100%;
  }

  .nav {
    text-align: center;
    width: 100%;

    &__list {
      display: inline-block;

    }

    &__menu {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;

      div {
        padding: 4px 8px;
        position: relative;
        text-transform: uppercase;

        &:visited {
          color: black;
        }
      }

      .nav__menu-lists {
        position: absolute;
        height: max-content;
        width: max-content;
        background: whitesmoke;
        border-radius: 0 4px 4px 4px;

        li {
          display: none;
          position: relative;
          padding: .25rem 0;
          white-space: nowrap;
          text-align: left;

          &:first-child {
            padding-top: 1rem;
          }
        }
      }

      &:hover {
        background: whitesmoke;
        border-radius: 4px 4px 0 0;

        &:after {
          opacity: 1;
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: #1E3C72;
          width: 100%;
        }

        > .nav__menu-lists li {
          display: block;
          color: black;
        }
      }

      // Menu 1
      @for $i from 1 through 5 {
        &:hover > .nav__menu--1-lists li:nth-child(#{$i}) {
          opacity: 0;
          animation: menu1 ease-in-out forwards;
          animation-duration: $animSpeed;
          animation-delay: ($animSpeed / 2) * ($i - 1);
          @keyframes menu1 {
            from {
              opacity: 0;
              transform: translateY(-1rem);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}
