<div class="worship-time-section-wrapper">
  <div class="header">
    <div class="icon" #iconElem>
      <fa-icon [icon]="worshipTimeGroup?.icon!" size="2x"></fa-icon>
    </div>
    <div class="title">
      <h1>{{worshipTimeGroup?.title}}</h1>
      <p>{{worshipTimeGroup?.subtitle}}</p>
    </div>
  </div>
  <div class="periods" *ngFor="let period of worshipTimeGroup?.periods">
    <div class="period">
      <p>{{period.title}}</p>
      <div>
        <h1 *ngFor="let time of period.times">{{time}}</h1>
      </div>
    </div>
  </div>
</div>
