/* You can add global styles to this file, and also import other style files */
@import 'fonts/sora/font.css';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
  list-style-type: none;
  font-family: Sora, sans-serif;
}

:root {
  --tui-font-text: Sora, sans-serif !important;
  --primary-text-color: #000;
  --seconday-text-color: #505050;
  --accent-text-color: #fff;
  --tui-primary: #326AFF !important;
  --tui-primary-hover: #4e7dfa !important;
}
